*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  background-color: #1B1961 ;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  width: 100%;
}
.header .logo {
  color:white;
  margin: 5px;


}
.header .logo i{
  color: red;
  font-size: 25px;
  margin: 2px;
}
.header .logo span{
  font-size: 25px;
  font-family: "Autour One", system-ui;
  margin-left: 10px;
}
.header .nav ul{
  margin-right:50px ;
  margin: 2px;
  
}
.header .nav ul li{
  list-style: none;
}
.header .nav ul li a{
  text-decoration: none;
  color: white;
  font-family: "Autour One", system-ui;  font-family: "Autour One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin-right: 50px;
  margin-top:10px ;
}
/* ----------------------------------end------------------------------------------------- */
.main{
  height: 900px;
  background: linear-gradient(269.42deg, rgba(255, 255, 255, 0.75) 1.4%, rgba(104, 193, 232, 0.75) 100.44%) ;
  padding: 20px;
}
.main .main2 h1{
  margin-top: 100px;
  margin-left: 505px;
  font-family: "Autour One", system-ui;
  font-weight: bold;
  font-style: normal;
  font-size: 48px;

}
.main .main2 .form{
  background: #65B5D8;
  margin-top: 20px;
  height: 290px;
  width: 20%;
  margin-left: 550px;
  border-radius: 8px;
  box-shadow: 0px 15px 4px 0px #0000004D;
  padding: 20px;

  
}
.main .main2 .form form{
  padding: 10px;
  height: 100px;
  margin-top: 40px;

}
.main .main2 .form form label{
  font-family: "Autour One", system-ui;
  font-style: normal;
  font-size: 22px;
  position: relative;
  font-weight: bold;

  
}
.main .main2 .form a{
  position: relative;
  top: 179px;
  right: 45px;
  padding: 10px 140px;
  background-color: #1B1961;
  text-decoration: none;
  color: white;
  font-family: "Autour One", system-ui;
  font-style: normal;
  font-size: 20px;
  border-radius: 12px;

 
  border-radius: 10px;
}
.main .main2 .form form input{
  padding: 10px 35px;
  border-radius: 8px;
  margin-bottom: 35px;
  border: none;
  outline: none;

}
.footer{
  background-color: #1B1961 ;
  padding: 15px;
}
.footer h4{
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.741);
  font-family: "Autour One", system-ui;
  /* font-weight: bold; */
  font-style: normal;
  /* margin-right: 50px; */
}
/* -------------------------------------------------media start------------------------------------------ */
.main .main2 .log .a{
   text-decoration: none;
   background-color: #1B1961;
   margin: 5px;
   margin-left: 530px;
   display: block;
   width: 15%;
   text-align: center;
   padding: 15px 25px;
   color: white;
   border-radius: 15px;
   font-family: "Autour One", system-ui;  font-family: "Autour One", system-ui;
   font-weight: 400;
   font-style: normal;
  
}

