*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  background-color: #1B1961 ;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  width: 100%;
}
.header .logo {
  color:white;
  margin: 5px;


}
.header .logo i{
  color: red;
  font-size: 25px;
  margin: 2px;
}
.header .logo span{
  font-size: 25px;
  font-family: "Autour One", system-ui;
  margin-left: 10px;
}
.header .nav ul{
  margin-right:50px ;
  margin: 2px;
  display: flex;
  
}
.header .nav ul li{
  list-style: none;
}
.header .nav ul li a{
  text-decoration: none;
  color: white;
  font-family: "Autour One", system-ui;  font-family: "Autour One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin-right: 50px;
  margin-top:10px ;
}
/* ----------------------------------end------------------------------------------------- */
.main{
  height: 720px;
  background: linear-gradient(269.42deg, rgba(255, 255, 255, 0.75) 1.4%, rgba(104, 193, 232, 0.75) 100.44%) ;
  padding: 20px;
  /* display: flex; */
  gap: 30px;
}
.main .leftmain{
  display: flex;
 justify-content: space-between;
 margin-top: -20px;
}
.main2 .left h1{
  margin-top: 100px;
  text-align: center;
}
.main .main2{
  display: flex;
  justify-content: space-between;
}
.main .left{
  display: block;
}
.main2 .leftmain .box{
  margin-top: 40px;
  display: flex;
  background: #65B5D8;
 width: 300px;
 height: 150px;
 margin-left: 20px;
 padding: 30px;
 border-radius: 18px;
 /* margin: 70px; */
} 
.main2 .leftmain .box img{
  width: 110px;
  margin-left: -20px;
}
.main .leftmain .box .tit h3{
  margin-top: 45px;
  font-size: 35px;
  font-family: "Autour One", system-ui;
  font-weight: bold;
  font-style: normal;
  margin-right: 20px;
  margin-left: 20px;
}
.main .leftmain .box .tit{

 margin-top: -30px;

}
.main .leftmain .box .tit  p{
  font-size: 28px;
  font-family: "Autour One", system-ui;
  font-weight: bold;
  font-style: normal;
  margin-right: 50px;

 
} 
.main .leftmain .box .tit p a{
  text-decoration: none;
  color: black;
  
  }
  .main2 .left .a{

    position: relative;
   top: 50px;
    padding: 10px 190px;
    left: 28px;
    right: 25px;
    background-color: #1B1961;
    text-decoration: none;
    color: white;
    font-family: "Autour One", system-ui;
    font-style: normal;
    font-size: 20px;
    border-radius: 12px;
  }
/* -------------------------------------------------end left------------------- */
.main2 .right{
  display: block;
  margin-top: 75px;
  margin-left: 40px;
}
.main2 .right h1{
margin-top:10px ;
  text-align: center;
}
.main2 .rightmain{
  display: flex;
}
.main2 .rightmain .box{
  margin-top: 40px;
  display: flex;
  background: #65B5D8;

 width: 300px;
 height: 140px;
 margin-left: 20px;
 padding: 30px;
 border-radius: 18px;
 /* margin: 70px; */
 padding-top: 20px;
} 
.main2 .rightmain .box img{
  width: 110px;
  margin-left: -20px;
}
.main .rightmain .box .tit h3{
  margin-top: -3px;
  font-size: 35px;
  font-family: "Autour One", system-ui;
  font-weight: bold;
  font-style: normal;
  margin-right: 20px;
  margin-left: 20px;
}
.main .rightmain .box .tit{

 margin-top: -200px;
 margin: 5px;
}
.main .rightmain .box .tit  p{
  font-size: 28px;
  font-family: "Autour One", system-ui;
  font-weight: bold;
  font-style: normal;
  margin-right: 50px;

 
} 
.main .rightmain .box .tit p a{
  text-decoration: none;
  color: black;
  }
  .main2 .right .a{

    position: relative;
   top: 50px;
    padding: 10px 190px;
    left: 15px;
    right: 30px;
    background-color: #1B1961;
    text-decoration: none;
    color: white;
    font-family: "Autour One", system-ui;
    font-style: normal;
    font-size: 20px;
    border-radius: 12px;
  }


  .main .b{

    position: relative;
   top: 120px;
    padding: 15px 90px;
    left: 15px;
    right: 25px;
    background-color: #1B1961;
    text-decoration: none;
    color: white;
    font-family: "Autour One", system-ui;
    font-style: normal;
    font-size: 20px;
    border-radius: 12px;
    margin-top: 500px;
    margin: 210px;
  }
  .main .b i{
   margin: 10px;
 
  }





















/* ----------------------------------------footer------------------------------------- */
.footer{
  background-color: #1B1961 ;
  padding: 15px;
}
.footer h4{
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.741);
  font-family: "Autour One", system-ui;
  /* font-weight: bold; */
  font-style: normal;
  /* margin-right: 50px; */
}